
<!-- PAGE LEVEL STYLES -->
<link rel="stylesheet" href="/plugins/validationengine/css/validationEngine.jquery.css" />
<!-- END PAGE LEVEL  STYLES -->


<div class="inner">
    <div class="row">
        <div class="col-lg-12">
            <h1> Add new Course </h1>
        </div>
    </div>
    <hr />

    <form action="/admin/course/new" class="form-horizontal" id="inline-validate" method="post">
        <div class="box">
            <header>
                <h5>Course Info</h5>
                <div class="toolbar">
                    <ul class="nav">
                        <li>
                            <div class="btn-group">
                                <a class="accordion-toggle btn btn-xs minimize-box" data-toggle="collapse"
                                   href="#mainInfoCollapse">
                                    <i class="icon-chevron-up"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

            <div id="mainInfoCollapse" class="accordion-body collapse in body">

                <!-- Course Name Field -->
                <div class="form-group" id="main_courseNameDiv">
                    <label class="control-label col-lg-2">Course name *</label>

                    <div class="col-lg-6" id="userNameDiv">
                        <input type="text" id="courseName" name="courseName" placeholder="Enter the Course Name" class="form-control" />

                    </div>
                </div>

                <!-- Course Period Field -->
                <div class="form-group" id="main_coursePeriodDiv">
                    <label class="control-label col-lg-2">Course Period *</label>

                    <div class="col-lg-3" id="userPeriodDiv">
                        <input type="number" id="coursePeriod" name="coursePeriod" placeholder="Enter the Course Period (in hour)" class="form-control" />

                    </div>
                </div>

                <!-- Course Level Field -->
                <div class="form-group" id="main_courseLevelDiv">
                    <label class="control-label col-lg-2">Course Level *</label>
                    <div class="col-lg-3" id="courseLevelDiv">
                        <select name="courseLevelID" placeholder="Choose the Course Level" id="courseLevel" class="form-control">
                            <option value="" disabled selected>Select the Course Level</option>
                            {{#each courseLevel}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <!-- Course Type Field -->
                <div class="form-group" id="main_courseTypeDiv">
                    <label class="control-label col-lg-2">Course Type *</label>
                    <div class="col-lg-3" id="courseTypeDiv">
                        <select name="courseTypeID" placeholder="Choose the Course Type" id="courseType" class="form-control">
                            <option value="" disabled selected>Select the Course Type</option>
                            {{#each courseType}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <!-- Youtube Playlist Field -->
                <div class="form-group" id="main_youTubePlayListDiv">
                    <label class="control-label col-lg-2">Youtube Playlist *</label>

                    <div class="col-lg-6" id="youTubePlayListDiv">
                        <input type="text" id="youTubePlayList" name="youTubePlayList" placeholder="Enter the Youtube Playlist" class="form-control" />

                    </div>
                </div>

                <!-- Course Description Field -->
                <div class="form-group" id="main_courseDescriptionDiv">
                    <label class="control-label col-lg-2">Course Description: </label>

                    <div class="col-lg-7" id="courseDescriptionDiv">
                        <textarea id="description" class="form-control" name="courseDescription" style="overflow: hidden;
                                word-wrap: break-word; resize: horizontal; height: 174px;"></textarea>
                    </div>
                </div>

            </div>

        </div>

        <!-- Course Objective Fields -->
        <div class="box">
            <header>
                <h5>Course Objectives</h5>
                <div class="toolbar">
                    <ul class="nav">
                        <li>
                            <div class="btn-group">
                                <a class="accordion-toggle btn btn-xs minimize-box" data-toggle="collapse"
                                   href="#courseObjectiveCollapse">
                                    <i class="icon-chevron-up"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

            <div id="courseObjectiveCollapse" class="accordion-body collapse in body">

                <div class="form-group" id="main_courseObjective1Div">
                    <label class="control-label col-lg-1">1</label>

                    <div class="col-lg-7" id="courseObjectiveDiv">
                        <input type="text" id="courseObjective" name="courseObjective"
                               placeholder="Enter the Course Objective" class="form-control" />
                    </div>

                    <div class="col-lg-1">
                        <button type="button" class="btn btn-success btn-circle" onclick="addNewCourseObjective()">
                            <i class="icon-plus"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Course Content Field -->
        <div class="box">
            <header>
                <h5>Course Content</h5>
                <div class="toolbar">
                    <ul class="nav">
                        <li>
                            <div class="btn-group">
                                <a class="accordion-toggle btn btn-xs minimize-box" data-toggle="collapse"
                                   href="#courseContentCollapse">
                                    <i class="icon-chevron-up"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

            <div id="courseContentCollapse" class="accordion-body collapse in body">

                <div class="form-group" id="main_courseContent1Div">
                    <label class="control-label col-lg-1">1</label>

                    <div class="col-lg-7" id="courseContentDiv">
                        <input type="text" id="courseContent" name="courseContent"
                               placeholder="Enter the Course Content" class="form-control" />
                    </div>

                    <div class="col-lg-1">
                        <button type="button" class="btn btn-success btn-circle" onclick="addNewCourseContent()">
                            <i class="icon-plus"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Course Pre-Requisite Field -->
        <div class="box">
            <header>
                <h5>Course Pre-Requisite</h5>
                <div class="toolbar">
                    <ul class="nav">
                        <li>
                            <div class="btn-group">
                                <a class="accordion-toggle btn btn-xs minimize-box" data-toggle="collapse"
                                   href="#coursePreRequisiteCollapse">
                                    <i class="icon-chevron-up"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

            <div id="coursePreRequisiteCollapse" class="accordion-body collapse in body">
                <div class="form-group" id="main_coursePreRequisite1Div">
                    <label class="control-label col-lg-1">1</label>

                    <div class="col-lg-3" id="coursePreRequisiteNameDiv">
                        <input type="text" class="form-control" id="coursePreRequisiteName"
                               name="coursePreRequisiteName" placeholder="Enter the Name" />
                    </div>

                    <div class="col-lg-5" id="coursePreRequisiteURLDiv">
                        <input type="text" class="form-control" id="coursePreRequisiteURL"
                               name="coursePreRequisiteURL" placeholder="Enter the URL" />
                    </div>

                    <div class="col-lg-1">
                        <button type="button" class="btn btn-success btn-circle" onclick="addNewCoursePreRequisite()">
                            <i class="icon-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Course References Field -->
        <div class="box">
            <header>
                <h5>Course Reference</h5>
                <div class="toolbar">
                    <ul class="nav">
                        <li>
                            <div class="btn-group">
                                <a class="accordion-toggle btn btn-xs minimize-box" data-toggle="collapse"
                                   href="#courseReferenceCollapse">
                                    <i class="icon-chevron-up"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

            <div id="courseReferenceCollapse" class="accordion-body collapse in body">

                <div class="form-group" id="main_courseReference1Div">
                    <label class="control-label col-lg-1">1</label>

                    <div class="col-lg-3" id="courseReferenceNameDiv">
                        <input type="text" class="form-control"  id="courseReferenceName"
                               name="courseReferenceName" placeholder="Enter the Name" />
                    </div>

                    <div class="col-lg-2" id="courseReferenceTypeDiv">
                        <select name="courseReferenceType" placeholder="Type"
                                id="courseReferenceTypeID" class="form-control">
                            <option value="" disabled selected>Type</option>
                            {{#each referenceType}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-lg-4" id="courseReferenceURLDiv">
                        <input type="text" class="form-control"  id="courseReferenceURL"
                               name="courseReferenceURL" placeholder="Enter the URL" />
                    </div>

                    <div class="col-lg-1" id="courseReferencePlusDiv">
                        <button type="button" class="btn btn-success btn-circle" onclick="addNewCourseReference()">
                            <i class="icon-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-offset-5 col-lg-4">
                <div class="form-group">
                    <input type="submit" id="submitBtn" value="Submit" class="btn btn-primary btn-lg" />
                    <input type="submit" id="submitBtn" value="Back" class="btn btn-danger btn-lg" />
                </div>
            </div>
        </div>
    </form>
</div>


<!-- PAGE LEVEL SCRIPTS -->
<script src="/js/newCourseForm.js"></script>
<script>
//    $("#courseObjectivePlus").click(addNewCourseObjective());
    $(function () {
        checkCourseData();
    });
</script>
<!--END PAGE LEVEL SCRIPTS -->